.annotation{
    font-size: 16px;
    color: #fffff0;
}

.annotation-link{
    text-decoration: none;
    color: #fffff0;
    transition-duration: 0.4s;
}

.annotation-link:hover{
    text-decoration: underline;
    color: #ffffff;
}