.Icon{
    width: 72px;
    height: 72px;
}

.tm-logo{
    background-image: url("../../../Recources/logoTM.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}