.loading {
    display: inline-block;
    width: 80px;
    height: 80px;
    animation: loading 1.2s linear infinite;
    color: #348bec;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}