@import '../../../variables.scss';

.signup{
    background-color: #1a2027;
    width: $wrapper-full;
    height: $wrapper-full;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__wrapper{
        width: 60%;
        height: $wrapper-full;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &--logo{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 30%;
            margin-bottom: 10px;

            div{
                width: 50px;
                height: 50px;
                background-image: url("../../../../Recources/logoTM.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    &__form{
        background-color: #fff;
        width: 30%;
        height: 45vh;
        border-radius: 5px;
        border: 2px solid #1f282d;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--input{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 60%;
            height: 60%;
            margin-bottom: 20px;
        }
    }

    &__info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
}