.SignIn-background{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Wrapper{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Logo-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.Logo-wrapper .header{
    justify-content: center;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.info div {
    margin-top: 10px;
}

.wrapper{
    background-color: #efefef;
    width: 30%;
    height: 45vh;
    border-radius: 5px;
    border: 2px solid #1f282d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 20px;
}

.input{
    width: 100%;
    height: 45px;
    font-size: 10px;
    text-decoration: none;
    border: 1px solid #30363d;
    border-radius: 5px;
}

.input:focus{
    outline: none;
}


